.ticket-generator-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: bisque;
}

.ticket-generator-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.ticket-generator-container label {
  display: block;
  margin-bottom: 10px;
}

.ticket-generator-container input[type="number"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.ticket-generator-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.ticket-generator-container button:hover {
  background-color: #0056b3;
}

.ticket-generator-container select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.ticket-generator-container p {
  font-size: 18px;
  margin-top: 10px;
}

.ticket-generator-container h3 {
  font-size: 20px;
  margin-top: 20px;
}